In [3]:
l = [3,4,5,6,"Amaan",8.9,12,56]

In [4]:
"Amaan" in l

True

In [6]:
for i in l:
    print(i)

3
4
5
6
Amaan
8.9
12
56

In [7]:
t = (3,4,5,6,"Amaan",8.9,12,56)

In [9]:
for i in t:
    print(i)

3
4
5
6
Amaan
8.9
12
56

In [10]:
s = {3,4,5,6,"Amaan",8.9,12,56,6,6,6}

In [11]:
for i in s:
    print(i)

3
4
5
6
8.9
12
Amaan
56

In [12]:
s[0]

TypeError: 'set' object is not subscriptable

In [13]:
d = {"name":"Amaan", "class":"2nd yesr", "Sub":"Python", "age":20}

In [15]:
d["class"]

'2nd yesr'

In [16]:
for i in d:
    print(i,":",d[i])

name : Amaan
class : 2nd yesr
Sub : Python
age : 20

In [5]:
l

[3, 4, 5, 6, 'Amaan', 8.9, 12, 56]

In [6]:
for i in l:
    if i == "Amaan":
        break
    print(i)
else:
    print("Something else")

3
4
5
6

In [7]:
for i in l:
    print(i)
else:
    print("Something else")

3
4
5
6
Amaan
8.9
12
56
Something else

In [10]:
for i in l:
    if i == "Amaan":
        pass
    l
else:
      print("Something else")

3
4
5
6
8.9
12
56
Something else

In [9]:
for i in l:
    if i == "Amaan":
        pass
    else:
        print(i)

3
4
5
6
8.9
12
56

In [11]:
l

[3, 4, 5, 6, 'Amaan', 8.9, 12, 56]

In [12]:
for i in l:
    if i=="Amaan":
        print(i+"1")
    else:
        print(i+1)

4
5
6
7
Amaan1
9.9
13
57

In [14]:
for i in l:
    if isinstance(i,str):
        print(i+"1")
    else:
        print(i+1)

4
5
6
7
Amaan1
9.9
13
57

In [16]:
for i in l:
    if type(i)==str:
        print(i+"1")
    else:
        print(i+1)

4
5
6
7
Amaan1
9.9
13
57

In [23]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
list(range(len(l)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [28]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6
7

In [29]:
l

[3, 4, 5, 6, 'Amaan', 8.9, 12, 56]

In [30]:
for i in range(len(l)):
    print(i,":",l[i])

0 : 3
1 : 4
2 : 5
3 : 6
4 : Amaan
5 : 8.9
6 : 12
7 : 56

In [45]:
for i in range(len(l)-1,-1,-1):
    print(i)

7
6
5
4
3
2
1
0

In [43]:
for i in range(7,-1,-1):
    print(i,":",l[i])

7 : 56
6 : 12
5 : 8.9
4 : Amaan
3 : 6
2 : 5
1 : 4

In [47]:
list(range(9,-1,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [48]:
l

[3, 4, 5, 6, 'Amaan', 8.9, 12, 56]

In [52]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [50]:
l1

[3, 4, 5, 6, 12, 56]

In [57]:
a=int(input('enter the number:'))
b=input('enter the text:')
for i in range(a):
    print((i+1)*b, end = " ")
print()

enter the number:8
enter the text:madhu
madhu madhumadhu madhumadhumadhu madhumadhumadhumadhu madhumadhumadhumadhumadhu madhumadhumadhumadhumadhumadhu madhumadhumadhumadhumadhumadhumadhu madhumadhumadhumadhumadhumadhumadhumadhu

In [59]:
n=int(input("Enter no.of times = "))
x=str(input("Enter String = "))
for i in range(n):
    for j in range(i+1):
        print(x,end=" ")
    print(end="\n")

Enter no.of times = 10
Enter String = madhu
madhu
madhu madhu
madhu madhu madhu
madhu madhu madhu madhu
madhu madhu madhu madhu madhu
madhu madhu madhu madhu madhu madhu
madhu madhu madhu madhu madhu madhu madhu
madhu madhu madhu madhu madhu madhu madhu madhu
madhu madhu madhu madhu madhu madhu madhu madhu madhu
madhu madhu madhu madhu madhu madhu madhu madhu madhu madhu

In [61]:
a=int(input('enter the number:'))
b=input('enter the text:')
b=b+" "
for i in range(a):
    print((i+1)*b)

enter the number:6
enter the text:madhu
madhu
madhu madhu
madhu madhu madhu
madhu madhu madhu madhu
madhu madhu madhu madhu madhu
madhu madhu madhu madhu madhu madhu

In [1]:
n = int(input("Enter the no.: "))
name = input("Enter the no.: ")
for i in range(n):
    for j in range(i+1):
        print(name, end=" ")
    print()

Enter the no.: 5
Enter the no.: Rajashri
Rajashri
Rajashri Rajashri
Rajashri Rajashri Rajashri
Rajashri Rajashri Rajashri Rajashri
Rajashri Rajashri Rajashri Rajashri Rajashri

In [ ]:
type(n)

In [2]:
n=int(input("Enter no.of times = "))
x=str(input("Enter String = "))
b=" "
for i in range(n):
    print(int((n-i))*b,end="")
    for j in range(i+1):
        print(x,end=" ")
    print(end="\n")

Enter no.of times = 10
Enter String = madhu
          madhu
         madhu madhu
        madhu madhu madhu
       madhu madhu madhu madhu
      madhu madhu madhu madhu madhu
     madhu madhu madhu madhu madhu madhu
    madhu madhu madhu madhu madhu madhu madhu
   madhu madhu madhu madhu madhu madhu madhu madhu
  madhu madhu madhu madhu madhu madhu madhu madhu madhu
 madhu madhu madhu madhu madhu madhu madhu madhu madhu madhu

In [3]:
n=int(input("Enter the no. "))
s=input("Enter symbol or name ")
for i in range(n):
    for j in range(n-1):
        print(end=" ")
    for k in range(i+1):
        print(s,end=" ")
    n=n-1
    print()

Enter the no. 10
Enter symbol or name madhu
         madhu
        madhu madhu
       madhu madhu madhu
      madhu madhu madhu madhu
     madhu madhu madhu madhu madhu
    madhu madhu madhu madhu madhu madhu
   madhu madhu madhu madhu madhu madhu madhu
  madhu madhu madhu madhu madhu madhu madhu madhu
 madhu madhu madhu madhu madhu madhu madhu madhu madhu
madhu madhu madhu madhu madhu madhu madhu madhu madhu madhu

In [6]:
n = int(input("Enter the no.:"))
name = input("Enter the name:")
for i in range(n):
    for j in range(n-i-1):
        print(" "*len(name), end = " ")
    for j in range(i+1):
        print(name," "*len(name), end = " ")
    print()

Enter the no.:5
Enter the name:Rishika
                                Rishika
                        Rishika         Rishika
                Rishika         Rishika         Rishika
        Rishika         Rishika         Rishika         Rishika
Rishika         Rishika         Rishika         Rishika         Rishika

In [11]:
name = "praneeth"
print("*"*len(name), end = " ")

********