In [11]:
def test():
    a = 4*5
    b = 6+4
    c = 3+4+5
    return a,b,c

In [12]:
g = test()

In [13]:
g

(20, 10, 12)

In [14]:
a, b = test()

ValueError: too many values to unpack (expected 2)

In [ ]:
a

In [ ]:
b

In [15]:
_ , _, b = test()

In [16]:
b

12

In [17]:
_

10

In [18]:
a = 1
b = 10
while a<=10:
    print(a)
    a +=1

1
2
3
4
5
6
7
8
9
10

In [31]:
def add(a,b):
    return(a+b)

In [32]:
add(4,5)

9

In [34]:
add(7,8)

15

In [48]:
l = [3,4,5,6,7,"Madhu"]
def test2():
    '''append the integer value of list l'''
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [49]:
test2()

[3, 4, 5, 6, 7]

In [50]:
def add(a,b):
    return(a+b)

In [52]:
add("Madhu"," Priya")

'Madhu Priya'

In [53]:
add(a = "Madhu", b = " Priya")

'MadhuPriya'

In [54]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [56]:
def test3(*a):
    return a

In [57]:
test3(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [61]:
def test3(*a,b,c,d,e):
    return a,b,c,d,e

In [62]:
test3(2,3,4,b = 5, c = 6, d = 9, e = 10)

((2, 3, 4), 5, 6, 9, 10)

In [65]:
def test3(b,c,d,e,*a):
    return b,c,d,e,a

In [66]:
test3(2,3,4,5,6,45,67,12,34)

(2, 3, 4, 5, (6, 45, 67, 12, 34))

In [67]:
def test3(*b,c,d,e,*a):
    return b,c,d,e,a

SyntaxError: invalid syntax (3700401459.py, line 1)

In [73]:
def test4(**a):
    return a

In [79]:

test4(name = "shanasree", stream = "CSE")

{'name': 'shanasree', 'stream': 'CSE'}

In [80]:
d = {"name":"dhanasree", "class":"Hons Sec-1", "reg. No.": "444" }

In [81]:
test4(d)

TypeError: test4() takes 0 positional arguments but 1 was given

In [83]:
def test4(*a, **b ):
    return a,b

In [84]:
test4(23,56,12,56,"Madhu",name = "shanasree", stream = "CSE")

((23, 56, 12, 56, 'Madhu'), {'name': 'shanasree', 'stream': 'CSE'})

In [85]:
def add(a,b):
    return(a+b)

In [86]:
add(5,6)

11

In [87]:
n = lambda a,b : a+b

In [88]:
n(5,6)

11

In [89]:
m = lambda a,b : a*b

In [90]:
m(5,6)

30

In [92]:
b = lambda *a : a

In [93]:
b(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [95]:
t = (3,4,5,6,7)
l = []
for i in t:
    l.append(i)

In [96]:
l

[3, 4, 5, 6, 7]

In [97]:
[i for i in t]

[3, 4, 5, 6, 7]

In [98]:
s = "dhanasree"

In [99]:
[i for i in s]

['d', 'h', 'a', 'n', 'a', 's', 'r', 'e', 'e']

In [100]:
l = []
for i in range(11):
    l.append(i*i)

In [101]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [102]:
[i**2 for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [104]:
n = lambda *a : [i**2 for i in a]

In [105]:
n(3,4,5,6,7)

[9, 16, 25, 36, 49]

In [106]:
test3(a = "dhanasree", b = 4, c = "Dhanasree", e = 10)

TypeError: test3() got an unexpected keyword argument 'a'

In [110]:
def test3(**a):
    count = 0
    print(a.values())
    for i in a.values():
        if type(i) == str:
            count += 1
    return count

In [111]:
test3(a = "dhanasree", b = 4, c = "Dhanasree", e = 10)

dict_values(['dhanasree', 4, 'Dhanasree', 10])

2

In [112]:
l = lambda **a : [i for i in a.values()]

In [113]:
l(a = "dhanasree", b = 4, c = "Dhanasree", e = 10)

['dhanasree', 4, 'Dhanasree', 10]

In [ ]:
Homework
1. Try to print prime no. from 1 to 1000
2. Try to write functions which is equivalent of print function in Python
3. Try to write a  function which is replica of  list append, extend and pop function.
4. Try to write a lambda function whiuch can return a concatenation of all the string we will pass.
5. Try to write a lambda function which can return list of square of all the data between 1 tp 100.
6. Try to write 10 different lambda function of your own choice.
7. Try to write a function which can perform read operation from .text file.