i = 34534654646435
3
4
5
3
4
6
...

In [1]:
i = 34534654646435

In [2]:
i

34534654646435

In [10]:
l=34534654646435
for i in str(l):
    print(int(i), type(int(i)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [12]:
i=34534654646435

In [18]:
for j in str(i):
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [5]:
i[0]

TypeError: 'int' object is not subscriptable

s = "aaabbbabbccbccdeddeeeffaf"
a: 3
b: 5
c: 4

In [20]:
s = "aaabbbabbccbccdeddeeeffaf"

In [24]:
set(s)

{'a', 'b', 'c', 'd', 'e', 'f'}

In [25]:

for i in set(s):
    print(i,":",s.count(i))

d : 3
c : 4
f : 3
a : 5
b : 6
e : 4

In [26]:
s='Manjunadha Manjunadha'
count=0
for i in s:
    if i=='a':
        count=count+1
        print(count)

1
2
3
4
5
6

In [27]:
a = 10
b= 20
c = 30

In [28]:
a

10

In [29]:
b

20

In [30]:
c

30

In [37]:
(i,j,k) = (10,20,30)

In [34]:
i

10

d = {"name":"Manjunath", "class":"2ndYear","section":1}
(name, Manjunath)
(class, 2nd year)
(section 1)

In [38]:
d = {"name":"Manjunath", "class":"2ndYear","section":1}

In [39]:
d.items()

dict_items([('name', 'Manjunath'), ('class', '2ndYear'), ('section', 1)])

In [40]:
for i in d.items():
    print(i)

('name', 'Manjunath')
('class', '2ndYear')
('section', 1)

In [1]:
t=("Madhu","priya",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"Madhu","key2":"priya"})

In [6]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict :
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
kjshdf

In [5]:
t[2][1]

3

In [4]:
for i in t:
    if type(i) == dict :
        print(i.items())

dict_items([(3, 'kjshdf'), ('key1', 'Madhu'), ('key2', 'priya')])

              *   
            *   *   
          *   *   *   
        *   *   *   *   
      *   *   *   *   *   
    *   *   *   *   *   *   
  *   *   *   *   *   *   *   
*   *   *   *   *   *   *   *   
  *   *   *   *   *   *   *   
    *   *   *   *   *   *   
      *   *   *   *   *   
        *   *   *   *   
          *   *   *   
            *   *   
              *

enter the rows = 3
enter the string = python
                                python
                         python        python
                  python       python        python
                        python       python
                              python

In [2]:
n = int(input("Enter the no. of rows: "))
name = input("Enter the name: ")
for i in range(n):
    for j in range(n-i-1):
        print(" "*len(name), end = " ")
    for j in range(i+1):
        print(name," "*len(name), end = " ")
    print()
for i in range(n-1):
    for j in range(i+1):
        print(" "*len(name), end = " ")
    for j in range(n-i-1):
        print(name," "*len(name), end = " ")
    print()

Enter the no. of rows: 6
Enter the name: python
                                   python
                            python        python
                     python        python        python
              python        python        python        python
       python        python        python        python        python
python        python        python        python        python        python
       python        python        python        python        python
              python        python        python        python
                     python        python        python
                            python        python
                                   python

Enter the No: 5
Enter your name: python
                            python 
                     python python python 
              python python python python python 
       python python python python python python python 
python python python python python python python python python 
       python python python python python python python 
              python python python python python 
                     python python python 
                            python

In [15]:
n = int(input("Enter diamond's height: "))
d=input("enter your thing")+' '
for x in range(n):
    print("  " * (n - x), d * (2*x + 1))
for x in range(n - 2, -1, -1):
    print("  " * (n - x), d * (2*x + 1))

Enter diamond's height: 5
enter your thingmadhu
           madhu
         madhu madhu madhu
       madhu madhu madhu madhu madhu
     madhu madhu madhu madhu madhu madhu madhu
   madhu madhu madhu madhu madhu madhu madhu madhu madhu
     madhu madhu madhu madhu madhu madhu madhu
       madhu madhu madhu madhu madhu
         madhu madhu madhu
           madhu